.ingredient {
    background: none;
    border: none;
    position: relative;
    color: #fff;
    width: 50%;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    composes: mt-6 from global;
    composes: mb-10 from global;
    composes: pr-3 from global;
    composes: pl-3 from global;

}

.ingredient:hover {
    opacity: 0.8;
}

.ingredient__image {
    max-height: 120px;
    max-width: 240px;
    composes: ml-4 from global;
    composes: mr-4 from global;
    composes: mb-1 from global;
}

.ingredient__price {
    display: flex;
    align-items: center;

    composes: text_type_main-medium from global;
    composes: text from global;
    composes: mb-1 from global;
}

.ingredient__name {

    composes: text_type_main-default from global;
    composes: text from global;
}