.wrapper {
    height: 80vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    display: flex;
    width: 480px;
    flex-direction: column;
    gap: 24px;
    composes: mb-20 from global;
}

.heading {
    composes: mb-6 from global;
}

.button {
    margin: 0 auto;
}

.text {
    composes: text text_type_main-default mb-4 from global;
}

.text:last-of-type {
    margin-bottom: 0;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}