.main {

}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.main__wrapper {

}

.main__content-items {
  display: flex;
  gap: 0 40px;
}

.main__content-item {
  width: 50%;
}

.main__head {

}

